@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: Inter;
  background-color: #123456;
}

.heading h1 {
  font-weight: 900
  background: linear-gradient(90deg, #0041C2, #8A00C2); /* Define your gradient here */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
